<template>
  <v-app>
    <v-container fill-height>
      <v-layout row wrap align-center>
        <v-flex class="text-xs-center">
          <div class="timer">
            <div align-content-space-around>
              <v-progress-circular
                :rotate="-90"
                :size="200"
                :width="30"
                :value="timerProgress"
                color="primary"
              >
                {{ timeValue }}
              </v-progress-circular>
            </div>
            <div align-content-space-around>
              <!-- Будет одна кнопка по центру, которая меняет состояния: -->
              <!-- Start (зеленая, class="succes"): запускает таймер. -->
              <!-- Stop (красная, class="error"): останавливает и сбрасывает таймер. -->
              <v-btn color="success" flat center @click="startTimer">
                Start
              </v-btn>
            </div>
          </div>
        </v-flex>
      </v-layout>
    </v-container>
  </v-app>
</template>

<script>
export default {
  data: function() {
    return {
      time: 0,
      maxTime: 10000,
      second: 1000,
      btnClass: 'success'
    }
  },
  computed : {
    timerProgress: function() {
      let timerVM = this
      
      return (timerVM.time * 100)/timerVM.maxTime
    },
    timeValue: function() {
      let timerVM = this

      let minutes = this.formatTime(Math.floor(timerVM.time / 60000))
      let seconds = this.formatTime(((timerVM.time % 60000) / 1000).toFixed(0))
      
      return minutes + ':' + seconds
    }
  },
  methods: {
    startTimer: function() {
      let timerVM = this
      
      let timer = setInterval(function() {
        if (timerVM.time == timerVM.maxTime || timerVM.time <= timerVM.maxTime) {
          timerVM.time = timerVM.time + timerVM.second
        } else {
          timerVM.giveSignal()
          clearInterval(timer)
          timerVM.time = 0
        }
      }, timerVM.second)
    },
    formatTime: function(value) {
      if (value < 10) {
        value = '0' + value
      }

      return value
    },
    giveSignal: function() {
      alert('Пора сделать перерыв')
    }
  }
}
</script>

<style>
  .timer {
    margin-top: 50px;
  }
</style>
